
@{
    ViewBag.Title = "Main";
}


<h2 class="title">MainHub</h2>

<style>

    .title {
        text-align: center;
        padding: 20px;
    }



    .button1 {
        text-align: left;
        height: 110px;
        width: 1080px;
        border: 1px solid black;
        margin: 20px
    }

    .button2 {
        text-align: left;
        height: 110px;
        width: 1080px;
        border: 1px solid black;
        margin: 20px
    }

    
</style>


<div>
    <button class="button1" onclick="window.location = 'https://localhost:44342/FindAdventure/Adventures';">
        <h2 class="adventure">Vind Activiteiten</h2>
        <p>Ga opzoek naar leuke avonturen om met je vrienden uit te voeren!</p>
    </button>
</div>

<div>
    <button class="button2" onclick="window.location = 'https://localhost:44342/MakeAdventure/MakeAdventure';">
        <h2 class="make">Maak Avonturen</h2>
        <p>Maak zelf een avontuur aan en deel het met anderen!</p>

    </button>
</div>


