@{
    ViewBag.Title = "Home Page";
}

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    div2 {
        position: relative;
        top: 100px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="intro">

    <h1>Zuyd Adventure Challenges </h1>
    <p class="lead">  Welkom bij de Zuyd Adeventure Challenge waarin jij en je vrienden verschillende soorten uitdagingen uitvoeren om een gezellige tijd te hebben  </p>

</div>

<div class="information">
    <div class="col-md-4">
        <img src="https://t3.ftcdn.net/jpg/02/81/45/34/360_F_281453449_bOBYMPrEPFbp2Od9N99oh1LuDB40ZLX0.jpg" alt="Friends_Hanging_Out" width="300" height="250" />
        <h2>About</h2>
        <p>
            Wil je meer leren over hoe dit spel werkt? Klik hier voor meer informatie
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div2 class="col-md-4">

        <img src="https://st.depositphotos.com/2754144/4403/i/950/depositphotos_44037417-stock-photo-group-of-friends-watching-and.jpg" alt="Friends_Using_Laptop" width="350" height="250" />
        <h2>Log in</h2>
        <p>Al een account aangemaakt? Klik hier om in te loggen</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Login/Form">Log in &raquo;</a></p>
    </div2>

    <div class="col-md-4">
        <img src="https://as2.ftcdn.net/v2/jpg/02/10/44/09/1000_F_210440915_CWfVbXAXsQ970jv2Dt6HulHRYNbltBwv.jpg" alt="Friends_Celebrating_Something" width="300" height="250" />
        <h2>Registratie</h2>
        <p>Nieuw hier? Registreer je nu om de gezelligheid te beginnen</p>
        <p><a class="btn btn-default" href="https://localhost:44342/UserRegister/Register">Registreer Nu! &raquo;</a></p>
    </div>
</div>